In [5]:
import pandas as pd

In [2]:
!pwd

/Users/chuamelia/Google Drive/Spring 2020/Machine Learning/fake-review-detection-project/notebooks/ac4119

In [6]:
train_path = '../../data/raw/train.csv'
val_path = '../../data/raw/dev.csv'

In [7]:
train = pd.read_csv(train_path)
validation = pd.read_csv(val_path)

In [8]:
train.head(5)

,ex_id,user_id,prod_id,rating,label,date,review
0,0,923,0,3.0,1,2014-12-08,The food at snack is a selection of popular Gr...
1,1,924,0,3.0,1,2013-05-16,This little place in Soho is wonderful. I had ...
2,2,925,0,4.0,1,2013-07-01,ordered lunch for 15 from Snack last Friday. ...
3,3,926,0,4.0,1,2011-07-28,This is a beautiful quaint little restaurant o...
4,4,927,0,4.0,1,2010-11-01,Snack is great place for a casual sit down lu...

#### Summary Statistics

In [22]:
train['date'].min(), train['date'].max()

('2004-10-20', '2015-01-07')

In [19]:
train.describe()

,ex_id,user_id,prod_id,rating,label
count,250874.000000,250874.000000,250874.000000,250874.000000,250874.000000
mean,179413.488815,53970.730446,459.778211,4.023717,0.102916
std,103640.791253,45803.665418,259.854178,1.056995,0.303850
min,0.000000,923.000000,0.000000,1.000000,0.000000
25%,89526.500000,13820.000000,247.000000,4.000000,0.000000
50%,179345.500000,40485.500000,468.000000,4.000000,0.000000
75%,269196.750000,87298.000000,672.000000,5.000000,0.000000
max,358956.000000,161147.000000,922.000000,5.000000,1.000000

Tokenizing Text

In [2]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [3]:
stop_words = set(stopwords.words('english'))

In [ ]:
train['tokens'] = train['review'].apply(lambda x: word_tokenize(x) )

In [ ]:
stop_words = set(stopwords.words('english')) 
def rm_stop_words(tokens):
    filtered = [w for w in tokens if not w in stop_words] 
    return filtered

In [ ]:
train['filtered_tokens'] = train['tokens'].apply(lambda x: rm_stop_words(x))